.site__menu-container {
    @apply .fixed;
    @apply .top-0;
    @apply .bottom-0;
    @apply .min-h-screen;
    @apply .w-full;
    @apply .bg-white;
    @apply .overflow-y-scroll;
    transform: translateX(100%);
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.site__menu-container.open {
    transform: translateX(0);
}

.site__menu-container figure {
    @apply .flex;
    @apply .justify-end;
}

.site__menu-container .wrap {
    @apply .p-8;
}

.site__menu-container .hamburger__menu-button-close-wrap {
    @apply .mb-6;
}

.site__menu-container main,
.site__menu-container nav {
    @apply .mt-6;
}

.site__menu .dropdown-toggle,
.site__menu .menu__item-no-children {
    @apply .uppercase;
    @apply .text-gray;
    @apply .font-bold;
    @apply .py-4;
    @apply .border-b;
    @apply .border-gray;
}

.site__menu .menu-icon svg {
    @apply .w-3;
    @apply .h-3;
    @apply .mx-auto;
    @apply .block;
}

.site__menu .menu-icon svg path {
    stroke: #009697;
}

.site__menu .menu-icon svg polygon {
    fill: #009697;
}

.site__menu .sub__menu {
    height: 0;
    @apply .overflow-hidden;
    @apply .bg-ghostWhite;
    transition: height .3s ease-out;
}

.site__menu .sub__menu li {
    @apply .px-4;
}

.site__menu .sub__menu li figure {
    @apply .hidden;
}

.site__menu .sub__menu li:last-of-type {
    @apply .mb-6;
}

.site__menu svg path {
    transition: all 225ms ease-in;
}

.site__menu .dropdown-toggle svg path.vertical-path {
    transform-origin: center;
}

.site__menu .submenu__open path.vertical-path {
    @apply .opacity-0;
}

.hamburger__menu-button-close {
    margin-left: 0;
    @apply .mt-2;
}

.hamburger__menu-button-close,
.hamburger__menu-button-close:before,
.hamburger__menu-button-close:after {
    @apply .opacity-0;
    transition: transform 0.4s ease-in-out 0.2s, opacity 0.1s 0.3s ease;
}

.hamburger__menu-button-close:before,
.hamburger__menu-button-close:after {
    @apply .bg-viridianGreen;
}

.hamburger__menu-button-close::before {
    box-shadow: 0 10px 0 #009697;
}

.hamburger__menu-button-close.active,
.hamburger__menu-button-close.active::before,
.hamburger__menu-button-close.active::after {
    @apply .opacity-100;
}

.hamburger__menu-button-close.active::before {
    box-shadow: 0 0 0 #009697;
}